{% extends 'base.html' %}}
{% block title %}
Orden de compra
{% endblock %}
{% block customCss %}
<link rel="stylesheet" href="{{url_for('static',filename='css/supplier.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock customCss %}

{% block body %}


<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/" class="logo">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>AG</span>Inventory</div>
        </a>
        <ul class="side-menu">
            <li><a href="/inicio"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li><a href="/proveedores"><i class='bx bi-person-add'></i>Proveedores</a></li>
            <li><a href="/productos"><i class='bx bi-basket-fill'></i>Productos </a></li>
            <li><a href="/ordenes_compra"><i class='bx bx-store-alt'></i>Compras</a></li>
            <li><a href="/inventario"><i class='bx bi-box-seam-fill'></i>Inventario</a></li>
            <li ><a href="/estadisticas"><i class='bx bx-analyse'></i>Analytics</a></li>
            <li class="active"><a href="/ordenes_venta"><i class='bx bi-shop'></i>Ventas </a></li>
            <li ><a href="/clientes"><i class='bx bi-person-fill-down'></i>Clientes</a></li>
            <li><a href="#"><i class='bx bx-cog'></i>Settings</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{{ url_for('logout') }}" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">0</span>
            </a>
            <a href="#" class="profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z">
                    </path>
                </svg>
                <a> {{current_user.name}} {{current_user.lastname}} </a>
                {% if current_user.user_type_id == 1 %}
                    <a >Analista</a>                    
                {% endif %}
                {% if current_user.user_type_id == 2 %}
                    <a >Operario</a>                    
                {% endif %}
            </a>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][0] }}" role="alert">
                    {{ messages[0][1] }}
                </div>
            {% endif %}
        {% endwith %}

        <!-- End of Navbar -->
        <main>
            <div class="header">
                <div class="left">
                    <h1>Orden de venta</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Ordenes
                            </a></li>
                        /
                        <li><a href="#" class="active">vista</a></li>
                    </ul>
                </div>
            </div>

            <!-- TABLA DEL SISTEMA -->
            <ul class="insights">
                <div class="table-responsive fixed-height-table ">
                    <table class="table" style="background-color: var(--light);">
                        <thead class="table-header" style="background-color: var(--primary); color:var(--light)">
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Cantidad total </th>
                                <th scope="col">Precio total</th>
                                <th scope="col">Observaciones</th>
                                <th scope="col">Responsable</th>
                                <th scope="col">Cliente</th>
                            </tr>
                        </thead>
                        <tbody style="color: var(--dark)">
                            {% for orders in orders %}


                            <tr>
                                <th scope="row" id="{{orders.id}}"> {{orders.id}}</th>
                                <td> {{orders.saledate}} </td>
                                <td> {{orders.cantidadtotal}}       </td>
                                <td> {{orders.preciototal }} </td>
                                <td> {{orders.comments}} </td>
                                <td> {{orders.responsable}} </td>
                                <!-- {% if orders.state == 'Pendiente' %}
                                    <td class="text-warning"> {{orders.state}}  </td>
                                {% else %}
                                    <td class="text-success"> {{orders.state}}  </td>
                                {% endif %}-->
                                
                                <td> {{orders.cliente}} </td> 
                            
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </ul>

            <!-- End of Insights -->
            <h2 style="color:var(--dark)"> Nueva orden de venta</h2>
            <ul class="insights" style="background-color:var(--light)">

                <form action="/ordenes_venta" method="POST" style="color:var(--dark)">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="fecha" class="text">Fecha de venta:</label>
                            <input type="date" class="input-group-text" name="saledate" required>
                        </div>
                    </div>                    
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Observaciones </label>
                            <input type="text" class="form-control" name="comments" placeholder="text">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4"> Formato </label>
                            <input type="text" class="form-control" name="format" placeholder="Jabas">
                        </div>
                        <div class="form-group col-md-3" style="display: none;">
                            <label for="inputPassword4">Precio total</label>
                            <input type="number" class="form-control" name="totalprice" placeholder="10">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Dirección</label>
                            <input type="text" class="form-control" name="address" placeholder="Av Lima">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Responsable </label>
                            <select class="form-select" name="account_id"  aria-label="Disabled select example" disabled>
                                <option value="{{current_user.id}}" selected>{{current_user.name}} {{current_user.lastname}} </option>
                            </select>

                            <input type="hidden" class="form-control" name="account_id" value="{{current_user.id}}">

                        </div>
                        

                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Cliente </label>
                            <select class="form-select" aria-label="clientes" name="client_id" required>
                                <option selected>Selecciona Cliente</option>
                                {% for client in client %}
                                <option value="{{ client.id }}" >{{ client.name }} {{ client.lastname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Calidad</th>
                                <th>Stock Disponible</th>
                                <th>Cantidad (kg)</th>
                                <th>Precio por Kilo (kg)</th>
                            </tr>
                        </thead>
                        <tbody id="productos">
                            <tr>
                                <td>
                                    <select class="form-select select-producto" name="producto_id[]" id="producto_id">
                                        <option selected>Selecciona el Producto</option>
                                        {% for products in products %}
                                        <option value="{{ products.id }}">{{ products.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select select-calidad" name="calidades_id[]" id="calidades_id">
                                        {% for calidades in calidades %}
                                        <option value="{{ calidades.id }}">{{ calidades.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td >
                                    <!--stock total del product -->
                                    <input type="number" class="form-select stock" name="stock" id="stock" value="0" readonly>

                                </td>
                                <td>
                                    <input  style="margin-left: 10px;" class="form-select" type="number" name="cantidad[]" required>
                                </td>
                                <td>
                                    <input  style="margin-left: 10px;" min="1" class="form-select" type="number" name="precio[]" required>
                                </td>
                                <td>
                                    <button type="button" style="margin-left: 15px;" class="btn btn-primary btn-sm" id="agregarProducto">Agregar Producto</button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                   
                    <button type="submit" style="margin-top: 10px;" class="btn btn-success" id="agregarButton">Crear Orden</button>

                </form>
            </ul>
         
            
            <!-- End of Reminders-->

        </main>

    </div>
    <script>
        // Función para obtener la cantidad disponible
        function obtenerCantidadDisponible(selectProducto, selectCalidad, stockField) {
            var producto_id = selectProducto.value;
            var calidad_id = selectCalidad.value;
            var url = '/obtener_stock/' + producto_id + '/' + calidad_id;
    
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    var cantidadDisponible = response.cantidad_disponible;
                    stockField.value = cantidadDisponible;
                }
            };
            xhr.send();
        }
    
        // Función para agregar una nueva fila de productos
        function addProductRow() {
            var newRow = document.createElement('tr');
            newRow.innerHTML = `
                <td>
                    <select class="form-select select-producto" name="producto_id[]">
                        {% for products in products %}
                        <option value="{{ products.id }}">{{ products.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select select-calidad" name="calidades_id[]">
                        {% for calidades in calidades %}
                        <option value="{{ calidades.id }}">{{ calidades.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input type="number" class="form-select stock" name="stock" value="0" readonly>
                </td>
                <td>
                    <input style="margin-left: 10px;" type="number" class="form-select" name="cantidad[]" required>
                </td>
                <td>
                    <input  style="margin-left: 10px;" min="1" class="form-select" type="number" name="precio[]" required>
                </td>
            `;
    
            productosContainer.appendChild(newRow);
            
            // Actualizar los selectores para los nuevos elementos
            var selectProductos = document.querySelectorAll('.select-producto');
            var selectCalidades = document.querySelectorAll('.select-calidad');
            var stockFields = document.querySelectorAll('.stock');
    
            selectProductos.forEach(function(selectProducto, index) {
                selectProducto.addEventListener('change', function() {
                    obtenerCantidadDisponible(selectProducto, selectCalidades[index], stockFields[index]);
                });
            });
    
            selectCalidades.forEach(function(selectCalidad, index) {
                selectCalidad.addEventListener('change', function() {
                    obtenerCantidadDisponible(selectProductos[index], selectCalidad, stockFields[index]);
                });
            });
        }
    
        var agregarProductoButton = document.getElementById("agregarProducto");
        var productosContainer = document.getElementById("productos");
    
        agregarProductoButton.addEventListener("click", addProductRow);
    
        // Inicializar eventos para los elementos existentes al cargar la página
        var selectProductos = document.querySelectorAll('.select-producto');
        var selectCalidades = document.querySelectorAll('.select-calidad');
        var stockFields = document.querySelectorAll('.stock');
    
        selectProductos.forEach(function(selectProducto, index) {
            selectProducto.addEventListener('change', function() {
                obtenerCantidadDisponible(selectProducto, selectCalidades[index], stockFields[index]);
            });
        });
    
        selectCalidades.forEach(function(selectCalidad, index) {
            selectCalidad.addEventListener('change', function() {
                obtenerCantidadDisponible(selectProductos[index], selectCalidad, stockFields[index]);
            });
        });

    </script> 
  
    
    
    
    <script>
        
        window.watsonAssistantChatOptions = {
            integrationID: "dee09281-19e9-4b5e-8a11-315967a9d32a", // The ID of this integration.
            region: "au-syd", // The region your integration is hosted in.
            serviceInstanceID: "853a0945-4caf-4755-b60d-050eec1c9305", // The ID of your service instance.
            onLoad: function (instance) { instance.render(); }
        };
        setTimeout(function () {
            const t = document.createElement('script');
            t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
        });
    </script>   

</body>

{% endblock body %}