{% extends 'base.html' %}}
{% block title %}
Analiticas - AG Inventario
{% endblock %}
{% block customCss %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock customCss %}

{% block body %}


<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/" class="logo">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>AG</span>Inventario</div>
        </a>
        <ul class="side-menu">
            <li><a href="/inicio"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li><a href="/proveedores"><i class='bx bxs-dashboard'></i>Proveedores</a></li>
            <li><a href="/productos"><i class='bx bxs-dashboard'></i>Productos </a></li>
            <li><a href="/ordenes_compra"><i class='bx bx-store-alt'></i>Compras</a></li>
            <li><a href="/inventario"><i class='bx bx-store-alt'></i>Inventario</a></li>
            <li class="active"><a href="/estadisticas"><i class='bx bx-analyse'></i>Analytics</a></li>
            <li><a href="/ordenes_venta"><i class='bx bx-message-square-dots'></i>Ordenes Venta</a></li>
            <li ><a href="/clientes"><i class='bx bxs-dashboard'></i>Clientes</a></li>
            <li><a href="#"><i class='bx bx-cog'></i>Settings</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{{ url_for('logout') }}" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                  </svg>
                <a > {{current_user.fullname}}</a>
            </a>
        </nav>

        <!-- End of Navbar -->
        <main>
            <div class="header">
                <div class="left">
                    <h1>Analytics</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Clientes
                            </a></li>
                        /
                        <li><a href="#" class="active">vista</a></li>
                    </ul>
                </div>
                <a href="" class="report">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-person-fill" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12s5 1.755 5 1.755z"/>
                    </svg>
                    <span>Generar reportes</span>
                </a>
            </div>

            <!-- TABLA DEL SISTEMA -->
            <ul class="insights">
                <div class="container" style="background-color: var(--light); max-width: 500px;"  >
                    <canvas id="myChart" width="200" height="200"></canvas>
                </div>
                
              
            </ul>

            <ul class="insights"> 
                <div class="container" style="background-color: var(--light);">
                    <h1>Gráfico de Ventas</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Mes</th>
                                <th>Nombre</th>
                                <th>Clase</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data %}
                            <tr>
                                <td>{{ item.mes }}</td>
                                <td>{{ item.producto }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.cantidad }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Agrega un contenedor para el gráfico -->
                    
                </div>
            </ul>
            <!-- End of Insights -->
            <ul class="insights" >
                <div class="container mt-5" style="background-color: var(--light);">
                    <h1>Chat con OpenAI</h1>
                    <div class="chat-container" >
                        {% if mensaje_usuario %}
                            <div class="alert alert-primary" role="alert">
                                Tú: {{ mensaje_usuario }}
                            </div>
                        {% endif %}
                        {% if respuesta_openai %}
                            <div class="alert alert-success" role="alert">
                                Asistente: {{ respuesta_openai }}
                            </div>
                        {% endif %}
                    </div>
                    <form action="/obtener_respuesta" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="mensaje_usuario" placeholder="Escribe tu mensaje">
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </ul>
            <!-- End of Reminders-->

            </div>

        </main>

    </div>
    <script>
        // Obtén los datos de la tabla y guárdalos en arrays
        var meses = [];
        var cantidades = [];
    
        var dataRows = document.querySelectorAll('.insights table tbody tr');
        dataRows.forEach(function(row) {
            var cells = row.querySelectorAll('td');
            meses.push(cells[0].textContent);
            cantidades.push(parseInt(cells[3].textContent));
        });
    
        // Configura los datos del gráfico
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: meses,
                datasets: [{
                    label: 'Cantidad de Ventas',
                    data: cantidades,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Color de fondo de las barras
                    borderColor: 'rgba(75, 192, 192, 1)', // Color del borde de las barras
                    borderWidth: 1 // Ancho del borde de las barras
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true // Empieza el eje Y desde cero
                    }
                }
            }
        });
    </script>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "dee09281-19e9-4b5e-8a11-315967a9d32a", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "853a0945-4caf-4755-b60d-050eec1c9305", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
</body>

{% endblock body %}