{% extends 'base.html' %}}
{% block title %}
Orden de compra
{% endblock %}
{% block customCss %}
<link rel="stylesheet" href="{{url_for('static',filename='css/supplier.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock customCss %}

{% block body %}


<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/" class="logo">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>AG</span>Inventory</div>
        </a>
        <ul class="side-menu">
            <li><a href="/inicio"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li><a href="/proveedores"><i class='bx bi-person-add'></i>Proveedores</a></li>
            <li><a href="/productos"><i class='bx bi-basket-fill'></i>Productos </a></li>
            <li class="active"><a href="/ordenes_compra"><i class='bx bx-store-alt'></i>Compras</a></li>
            <li><a href="/inventario"><i class='bx bi-box-seam-fill'></i>Inventario</a></li>
            <li ><a href="/estadisticas"><i class='bx bx-analyse'></i>Analytics</a></li>
            <li><a href="/ordenes_venta"><i class='bx bi-shop'></i>Ventas </a></li>
            <li ><a href="/clientes"><i class='bx bi-person-fill-down'></i>Clientes</a></li>
            <li><a href="#"><i class='bx bx-cog'></i>Settings</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{{ url_for('logout') }}" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">0</span>
            </a>
            <a href="#" class="profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z">
                    </path>
                </svg>
                <a> {{current_user.name}} {{current_user.lastname}} </a>
                {% if current_user.user_type_id == 1 %}
                    <a >Analista</a>                    
                {% endif %}
                {% if current_user.user_type_id == 2 %}
                    <a >Operario</a>                    
                {% endif %}
            </a>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][0] }}" role="alert">
                    {{ messages[0][1] }}
                </div>
            {% endif %}
        {% endwith %}

        <!-- End of Navbar -->
        <main>
            <div class="header">
                <div class="left">
                    <h1>Orden de compra</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Ordenes
                            </a></li>
                        /
                        <li><a href="#" class="active">vista</a></li>
                    </ul>

                </div>
            </div>

            <!-- TABLA DEL SISTEMA -->
            <ul class="insights">
                

                <div class="table-responsive fixed-height-table ">
                    <table id="tablaOrdenes" class="table" style="background-color: var(--light);">
                        <thead class="table-header" style="background-color: var(--primary); color:var(--light)">
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Formato</th>
                                <th scope="col">Cantidad total</th>
                                <th scope="col">Observaciones</th>
                                <th scope="col">Cantidad perdida</th>
                                <th scope="col">Responsable</th>
                                <th scope="col">Estado </th>
                                <th scope="col">Proveedor</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody style="color: var(--dark)">
                            {% for orders in orders %}


                            <tr>
                                <th scope="row" id="{{orders.id}}"> {{orders.id}}</th>
                                <td> {{orders.entrydate}} </td>
                                <td> {{orders.format}} </td>
                                <td> {{orders.totalquantity }} </td>
                                <td> {{orders.comments}} </td>
                                <td> {{orders.quantitylost}} </td>
                                <td> {{orders.account_id}} </td>
                                {% if orders.state == 'Pendiente' %}
                                    <td class="text-warning"> {{orders.state}}  </td>
                                {% else %}
                                    <td class="text-success"> {{orders.state}}  </td>
                                {% endif %}
                                
                              
                                <td> {{orders.supplier_id}} </td>
                                <td> <a href="/orden/{{orders.id}}  "> Asignar Calidades </a> </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </ul>

            <!-- End of Insights -->
            <h2 style="color:var(--dark)"> Nueva orden de compra</h2>
            <ul class="insights" style="background-color:var(--light)">

                <form action="/ordenes_compra" method="POST" style="color:var(--dark)">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="fecha" class="text">Fecha:</label>
                            <input type="date" class="input-group-text" name="entrydate" required>
                        </div>
                    </div>                    
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputPassword4">Observaciones </label>
                            <input type="text" class="form-control" name="comments" placeholder="text">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> Formato </label>
                            <input type="text" class="form-control" name="format" placeholder="Jabas">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputPassword4">Cantidad total</label>
                            <input type="number" class="form-control" name="totalquantity" placeholder="10">
                        </div>
                        
                        <div class="form-group col">
                            <label for="inputPassword4">Cantidad perdida </label>
                            <input type="number" class="form-control" name="quantitylost" placeholder="10">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Responsable </label>
                            <select class="form-select" name="account_id"  aria-label="Disabled select example" disabled>
                                <option value="{{current_user.id}}" selected>{{current_user.name}} {{current_user.lastname}} </option>
                            </select>

                            <input type="hidden" class="form-control" name="account_id" value="{{current_user.id}}">

                        </div>
                        

                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Proveedor </label>
                            <select class="form-select" aria-label="Proveedores" name="supplier_id" required>
                                <option selected>Selecciona Proveedor</option>
                                {% for supplier in supplier %}
                                <option value="{{ supplier.id }}" >{{ supplier.name }} {{ supplier.lastname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad (kg)</th>
                            </tr>
                        </thead>
                        <tbody id="productos">
                            <tr>
                                <td>
                                    <select class="form-select" name="producto_id[]">
                                        {% for products in products %}
                                        <option value="{{ products.id }}">{{ products.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input  style="margin-left: 10px;" class="form-select" type="number" name="cantidad[]" required>
                                </td>
                                <td>
                                    <button type="button" style="margin-left: 15px;" class="btn btn-primary btn-sm" id="agregarProducto">Agregar Producto</button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                   
                    <button type="submit" style="margin-top: 10px;" class="btn btn-success" id="agregarButton">Crear Orden</button>

                </form>
            </ul>
         
            
            <!-- End of Reminders-->

        </main>

    </div>
    <script>
        // Data Picker Initialization
       
        var agregarProductoButton = document.getElementById("agregarProducto");
        var productosContainer = document.getElementById("productos");

        agregarProductoButton.addEventListener("click", function () {
            var newRow = `<tr>
                <td>
                    <select class="form-select" name="producto_id[]">
                        {% for products in products %}
                        <option value="{{ products.id }}">{{ products.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input style="margin-left: 10px;" type="number" class="form-select"  name="cantidad[]" required>
                </td>
            </tr>`;
            productosContainer.insertAdjacentHTML("beforeend", newRow);
        });
    </script>

    <script>
        
        window.watsonAssistantChatOptions = {
            integrationID: "dee09281-19e9-4b5e-8a11-315967a9d32a", // The ID of this integration.
            region: "au-syd", // The region your integration is hosted in.
            serviceInstanceID: "853a0945-4caf-4755-b60d-050eec1c9305", // The ID of your service instance.
            onLoad: function (instance) { instance.render(); }
        };
        setTimeout(function () {
            const t = document.createElement('script');
            t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
        });
    </script>   

</body>

{% endblock body %}