{% extends 'base.html' %}}
{% block title %}
Orden de compra
{% endblock %}
{% block customCss %}
<link rel="stylesheet" href="{{url_for('static',filename='css/supplier.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock customCss %}

{% block body %}


<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/" class="logo">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>AG</span>Inventario</div>
        </a>
        <ul class="side-menu">
            <li><a href="/inicio"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li><a href="/proveedores"><i class='bx bxs-dashboard'></i>Proveedores</a></li>
            <li><a href="/productos"><i class='bx bxs-dashboard'></i>Productos </a></li>
            <li class="active"><a href="/ordenes_compra"><i class='bx bx-store-alt'></i>Compras</a></li>
            <li><a href="/inventario"><i class='bx bx-store-alt'></i>Inventario</a></li>
            <li><a href="/estadisticas"><i class='bx bx-analyse'></i>Analytics</a></li>
            <li><a href="/ordenes_venta"><i class='bx bx-message-square-dots'></i>Ordenes Venta</a></li>
            <li><a href="/clientes"><i class='bx bxs-dashboard'></i>Clientes</a></li>
            <li><a href="#"><i class='bx bx-cog'></i>Settings</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{{ url_for('logout') }}" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">0</span>
            </a>
            <a href="#" class="profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z">
                    </path>
                </svg>
                <a> {{current_user.name}} {{current_user.lastname}} </a>
                {% if current_user.user_type_id == 1 %}
                <a>Analista</a>
                {% endif %}
                {% if current_user.user_type_id == 2 %}
                <a>Operario</a>
                {% endif %}
            </a>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-{{ messages[0][0] }}" role="alert">
            {{ messages[0][1] }}
        </div>
        {% endif %}
        {% endwith %}

        <!-- End of Navbar -->
        <main>
            <div class="header">
                <div class="left">
                    <h1>Orden de compra N° </h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Orden
                            </a></li>
                        /
                        <li><a href="#" class="active">Asignaciones</a></li>
                    </ul>
                </div>
            </div>

            <!-- TABLA DEL SISTEMA -->
            <ul class="insights">
                <div style="color:var(--dark)">
                    <h1>Productos sin asignar de la Orden {{id}}</h1>
                    <table class="table" style="background-color:var(--light)" id="tablaPapa">
                        <tr class="table-header" style="background-color:var(--light); color:var(--dark)">
                            <th>Producto</th>
                            <th>Imagen</th>
                            <th>Cantidad Total</th>
                            <th>Calidades</th>
                        </tr>
                        {% for products in products %}
                        <tr>
                            {% if products[3] == 'pendiente' %}
                            <td style="font-size: 16px; color:var(--dark)">{{ products[0] }}</td>
                            <td><img width="50" height="50" src="{{ products[1] }}" alt=""></td>
                            <td style="font-size: 16px; color:var(--dark)">{{ products[2] }}</td>
                            <td>
                                <form method="post" action="/orden/{{id}}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <input type="hidden" name="orden_id" value="{{id}}">
                                    <input type="hidden" name="producto_id" value="{{products[4]}}">

                                    <table>
                                        <tr>
                                            <th>Calidad</th>
                                            <th>Cantidad</th>
                                        </tr>
                                        {% for calidades in calidades %}
                                        <tr>
                                            <td>{{ calidades[1] }}</td>
                                            <td>
                                                <input type="number" name="calidad_id[]" value="{{ calidades[0] }}"
                                                    style="display:none;">
                                                <input type="number" class="form-control" name="cantidad[]" value="0">
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <input type="submit" class="btn btn-sm btn-warning" value="Agregar">
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>

                </div>
            </ul>

            <!-- End of Insights -->
            <h2 style="color:var(--dark)"> </h2>
            <ul class="insights" style="background-color:var(--light)">
            </ul>


            <!-- End of Reminders-->

        </main>

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const tablaPapa = document.getElementById("tablaPapa");
          cantidadTotal = parseFloat(document.querySelector("#tablaPapa > tbody > tr:nth-child(2) > td:nth-child(3)").innerHTML);
          const form = tablaPapa.querySelector("form");
        
          form.addEventListener("submit", function(event) {
            event.preventDefault();
        
            const cantidadInputs = form.querySelectorAll("input[name='cantidad[]']");
            let totalCantidad = 0;
        
            cantidadInputs.forEach(function(input) {
              totalCantidad += parseFloat(input.value);
            });
        
            if (totalCantidad !== cantidadTotal) {
              alert("La suma de las cantidades debe ser igual a " + cantidadTotal + " KG.");
            } else {
              // Aquí puedes enviar el formulario si la validación es exitosa
              form.submit();
            }
          });
        });
    </script>

    <script>

        window.watsonAssistantChatOptions = {
            integrationID: "dee09281-19e9-4b5e-8a11-315967a9d32a", // The ID of this integration.
            region: "au-syd", // The region your integration is hosted in.
            serviceInstanceID: "853a0945-4caf-4755-b60d-050eec1c9305", // The ID of your service instance.
            onLoad: function (instance) { instance.render(); }
        };
        setTimeout(function () {
            const t = document.createElement('script');
            t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
        });
    </script>

</body>

{% endblock body %}