{% extends 'base.html' %}}
{% block title %}
Productos
{% endblock %}
{% block customCss %}
<link rel="stylesheet" href="{{url_for('static',filename='css/supplier.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock customCss %}

{% block body %}


<body>


    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/" class="logo">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>AG</span>Inventario</div>
        </a>
        <ul class="side-menu">
            <li><a href="/inicio"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li><a href="/proveedores"><i class='bx bxs-dashboard'></i>Proveedores</a></li>
            <li class="active"><a href="/productos"><i class='bx bxs-dashboard'></i>Productos </a></li>
            <li><a href="/ordenes_compra"><i class='bx bx-store-alt'></i>Ordenes Compra</a></li>
            <li><a href="/inventario"><i class='bx bx-store-alt'></i>Inventario</a></li>
            <li><a href="/analytics"><i class='bx bx-analyse'></i>Analytics</a></li>
            <li><a href="/ordenes_venta"><i class='bx bx-message-square-dots'></i>Ordenes Venta</a></li>
            <li><a href="/clientes"><i class='bx bxs-dashboard'></i>clientes</a></li>
            <li><a href="#"><i class='bx bx-cog'></i>Settings</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{{ url_for('logout') }}" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">0</span>
            </a>
            <a href="#" class="profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z">
                    </path>
                </svg>
                <a> {{current_user.name}} {{current_user.lastname}} </a>
                {% if current_user.user_type_id == 1 %}
                    <a >Analista</a>                    
                {% endif %}
                {% if current_user.user_type_id == 2 %}
                    <a >Operario</a>                    
                {% endif %}
            </a>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][0] }}" role="alert">
                    {{ messages[0][1] }}
                </div>
            {% endif %}
        {% endwith %}

        <!-- End of Navbar -->
        <main>
            <div class="header">
                <div class="left">
                    <h1>Productos</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Productos
                            </a></li>
                        /
                        <li><a href="#" class="active">vista</a></li>
                    </ul>
                </div>
            </div>

            <!-- TABLA DEL SISTEMA -->
            <ul class="insights">
                <div class="table-responsive fixed-height-table ">
                    <table class="table" style="background-color: var(--light);">
                        <thead class="table-header" style="background-color: var(--primary); color:var(--light)">
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Description</th>
                                <th scope="col">Imagen</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody style="color: var(--dark)">
                            {% for products in products %}


                            <tr>
                                <th scope="row" id="{{products.id}}"> {{products.id}}</th>
                                <td> {{products.name}} </td>
                                <td> {{products.description}} </td>
                                <td> <img src="{{products.image}}" width="50" height="50"  alt=""> </td>
                                <td> <a href=""> borrar </a> </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </ul>
            {% if current_user.user_type_id == 1 %}
            <!-- End of Insights -->
            <h2 style="color:var(--dark)"> Agregar Producto</h2>
            <ul class="insights" style="background-color:var(--light)">

                <form action="/productos" method="POST" style="color:var(--dark)">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4"> Nombre del Producto </label>
                            <input type="text" class="form-control" name="name" placeholder="papa">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Descripcion</label>
                            <input type="text" class="form-control" name="description" placeholder="Chavez">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputAddress2">Url de la Imagen</label>
                        <input type="url" class="form-control" name="image" placeholder="https://verdura.pe/img.png">

                    </div>
                    <div>

                    </div>
                    <button type="submit" class="btn btn-primary" id="agregarButton">Agregar</button>
                </form>
            </ul>
            {% endif %}
            <!-- End of Reminders-->

        </main>

    </div>

    <script>
        
        window.watsonAssistantChatOptions = {
            integrationID: "dee09281-19e9-4b5e-8a11-315967a9d32a", // The ID of this integration.
            region: "au-syd", // The region your integration is hosted in.
            serviceInstanceID: "853a0945-4caf-4755-b60d-050eec1c9305", // The ID of your service instance.
            onLoad: function (instance) { instance.render(); }
        };
        setTimeout(function () {
            const t = document.createElement('script');
            t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
        });
    </script>
</body>

{% endblock body %}