{% extends 'base.html' %}}
{% block title %}
Proveedores
{% endblock %}
{% block customCss %}
<link rel="stylesheet" href="{{url_for('static',filename='css/supplier.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock customCss %}

{% block body %}


<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/" class="logo">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>AG</span>Inventario</div>
        </a>
        <ul class="side-menu">
            <li><a href="/inicio"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li class="active"><a href="/proveedores"><i class='bx bxs-dashboard'></i>Proveedores</a></li>
            <li><a href="/productos"><i class='bx bxs-dashboard'></i>Productos </a></li>
            <li><a href="/ordenes_compra"><i class='bx bx-store-alt'></i>Ordenes Compra</a></li>
            <li><a href="/inventario"><i class='bx bx-store-alt'></i>Inventario</a></li>
            <li><a href="/analytics"><i class='bx bx-analyse'></i>Analytics</a></li>
            <li><a href="/ordenes_venta"><i class='bx bx-message-square-dots'></i>Ordenes Venta</a></li>
            <li><a href="/realizar_compra"><i class='bx bx-group'></i>Realizar Compra</a></li>
            <li><a href="/realizar_venta"><i class='bx bxs-dashboard'></i>Ingresar Venta</a></li>
            <li><a href="/clientes"><i class='bx bxs-dashboard'></i>Vendedores</a></li>
            <li><a href="#"><i class='bx bx-cog'></i>Settings</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{{ url_for('logout') }}" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">0</span>
            </a>
            <a href="#" class="profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z">
                    </path>
                </svg>
                <a> {{current_user.name}} {{current_user.lastname}} </a>
                {% if current_user.user_type_id == 1 %}
                    <a >Analista</a>                    
                {% endif %}
                {% if current_user.user_type_id == 2 %}
                    <a >Operario</a>                    
                {% endif %}
            </a>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][0] }}" role="alert">
                    {{ messages[0][1] }}
                </div>
            {% endif %}
        {% endwith %}

        <!-- End of Navbar -->
        <main>
            <div class="header">
                <div class="left">
                    <h1>Proveedores</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Proveedores
                            </a></li>
                        /
                        <li><a href="#" class="active">vista</a></li>
                    </ul>
                </div>
            </div>

            <!-- TABLA DEL SISTEMA -->
            <ul class="insights">
                <div class="table-responsive fixed-height-table ">
                    <table id="proveedoresTable" class="table display" style="background-color: var(--light);">
                        <thead class="table-header" style="background-color: var(--primary); color:var(--light)">
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col" onclick="sortTable(0)">RUC</th>
                                <th scope="col" onclick="sortTable(1)">Nombre</th>
                                <th scope="col" onclick="sortTable(2)">Apellido</th>
                                <th scope="col" onclick="sortTable(3)">Correo</th>
                                <th scope="col" onclick="sortTable(4)">Telefono</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody style="color: var(--dark)">
                            {% for suppliers in suppliers %}


                            <tr>
                                <th scope="row" id="{{suppliers.id}}"> {{suppliers.id}}</th>
                                <td> {{suppliers.ruc}} </td>
                                <td> {{suppliers.name}} </td>
                                <td> {{suppliers.lastname }} </td>
                                <td> {{suppliers.email}} </td>
                                <td> {{suppliers.cellphone}} </td>
                                <td> <a href=""> Borrar </a> </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </ul>
            {% if current_user.user_type_id == 1 %}
            <!-- End of Insights -->
            <h2 style="color:var(--dark)"> Agregar proveedor</h2>
            <ul class="insights" style="background-color:var(--light)">

                <form action="/proveedores" method="POST" style="color:var(--dark)">
                    <div class="form-group">
                        <label> RUC </label>
                        <input type="number" class="form-control" name="ruc" placeholder="101231241320">
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4"> Nombres </label>
                            <input type="text" class="form-control" name="name" placeholder="Gustavo">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Apellidos</label>
                            <input type="text" class="form-control" name="lastname" placeholder="Chavez">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputAddress2">Correo</label>
                        <input type="email" class="form-control" name="email" placeholder="ejemplo@gmail.com">

                        <label for="inputCity">Numero de telefono</label>
                        <input type="number" class="form-control" name="cellphone" placeholder="1234567">
                    </div>
                    <div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="agregarButton">Agregar</button>
                </form>
            </ul>
            {% endif %}
            <!-- End of Reminders-->
        </main>
    </div>
    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "dee09281-19e9-4b5e-8a11-315967a9d32a", // The ID of this integration.
            region: "au-syd", // The region your integration is hosted in.
            serviceInstanceID: "853a0945-4caf-4755-b60d-050eec1c9305", // The ID of your service instance.
            onLoad: function (instance) { instance.render(); }
        };
        setTimeout(function () {
            const t = document.createElement('script');
            t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
        });
    </script>
    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("proveedoresTable");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
              // Start by saying: no switching is done:
              switching = false;
              rows = table.rows;
              /* Loop through all table rows (except the
              first, which contains table headers): */
              for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("td")[n];
                y = rows[i + 1].getElementsByTagName("td")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                  if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                  } else
                  if (Number(x.innerHTML) > Number(y.innerHTML)) {
                    shouldSwitch = true;
                    break;
                  }
                } else if (dir == "desc") {
                  if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                  } else
                  if (Number(x.innerHTML) < Number(y.innerHTML)) {
                    shouldSwitch = true;
                    break;
                  }
                }
                console.log("Comparando x:", x.innerHTML);
                console.log("Comparando y:", y.innerHTML);
              }
              if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
              } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                  dir = "desc";
                  switching = true;
                }
              }
            }
          }
    </script>
</body>
{% endblock body %}